*{
    padding: 0;
    margin: 0;

}
header h1{
    margin-left: 2rem;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

}
header {
    background-color: #333;
    color: #fff;
    height: 5rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginPage .container{   
    width: 260px;
    padding: 2rem;
    height: 270px;
    border: 2px solid lightgrey;
    border-radius: 1.5rem;
    background-color: #8D94BA;
}

#registerPage .container{   
    width: 260px;
    padding: 2rem;
    height: 340px;
    border: 1px solid lightgrey;
    border-radius: 1.5rem;
    background-color: #8D94BA;
}
.box{
    margin: 1rem 0 1rem 0;
}
.box input{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 1rem;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
.button{
    display: flex;
    justify-content: center;
}
.button button{
    font-size: 0.9rem;
    width: 4rem;
    height: 1.6rem;
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0.75rem;
}
a {
    color: #e3e7ec; /* Default link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
  }
  
  /* Hover effect for anchor tags */
  a:hover {
    color: #02172e; /* Change link color on hover */
  }
  .rgstr{
   margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
header button{
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}